$verdeOscuro: #50E850;
$verdeClaro: #52FA45;
$celesteOscuro: #66E3D9;
$celesteClaro: #B7FDF2;
$azulOscuro: #5A83E1;
$azulClaro: #5997FD;
$azul: #3977DE;
$amarrillo: #FEE017;
$rosa: #FF5484;
$rojo: #FD3043;


