$verdeOscuro: #50E850;
$verdeClaro: #52FA45;
$celesteOscuro: #13AD96;
$celesteClaro: #17BAA2;
$azulOscuro: #5A83E1;
$azulClaro: #5997FD;
$azul: #3977DE;
$amarrillo: #FEE017;
$rosa: #FF5484;
$rojo: #FD3043;
$fondo: #f2f2f2;
$plomo: #999;
$negro: white;
$hover: #0E8071;