/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: $fondo; 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px;
	text-align: center;
}

h1 {
	font-size: 60px;
    line-height: 1.3em;
	text-align: center;
	font-weight: 300;

	margin-bottom:60px;
	font-family: 'Baloo Chettan', cursive;
}
p{
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
	line-height:50px;
	font-weight: 600;
}
h3{
	text-align: center;


}
h2{
	font-family: 'Baloo Chettan', cursive;
	font-size: 55px;
	line-height:50px;
}
#main-header {
	background: $celesteOscuro;
	color: $negro;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 3;
	a {
		color: $negro;
	}
	#logo-header {
		float: left;
		padding: 15px 0 0 20px;
		text-decoration: none;
		&:hover {
			color: #C7FDFE;
		}
		
		.site-name {
			display: block;
			font-weight: 700;
			font-size: 1.2em;
		}
		
		.site-desc {
			display: block;
			font-weight: 300;
			font-size: 0.8em;
			color: #C7FDFE;
			&:hover{
				color: white;
			}
		}
		
	}
	.nav{
		@include nav (right, inline-block);
	}
	.nav1{
		i{
			margin-top:20px;
			margin-right:20px;
			margin-bottom:20px;
			font-size: 40px;
			text-align:center;
			cursor: pointer;
		}
		.fa-times{
			color: $rojo;
		}
		ul{
			margin: 0px;
		}
		li{
			background: $celesteClaro;
			width: 350px;
			height: 70px;
			border-bottom: 2px solid $hover;
			margin:5px;
		}
		@include nav (right, block);
	}

}	

.active{
	background:$celesteClaro;
	font-weight: 800;
	padding: 10px;
	border-bottom:3px solid white;
	border-left:3px solid whitesmoke;
	margin-top:10px;


}
#main-content header {
	padding: 40px;
}
.fondo{
	@include fondo('../img/portada.jpg');
}
.fondo1{
	@include fondo('../img/portada.jpg');
}
.fondo2{
    @include fondo('../img/portada.jpg');
}
.fondo3{
	@include fondo('../img/portada.jpg');
}
#mision{
	padding-top:70px;
	padding-bottom:100px;
}
#uso{
	@include fondo('../img/portada.jpg');
	padding-top: 20px;
	padding-bottom:150px;

}
#materias{
	padding-top: 70px;
}
#contacto{
	padding-top: 70px;
	padding-bottom: 40px;
}
#redes{
	text-align: center;
	margin-top:70px;
	a{
		i{
			font-size:20px;
			display: inline-block;
			width: 50px;
			height: 35px;
			border-radius: 100%;
			color:white;
			text-align: center;
			margin: 20px;
			padding-top:15px;
			transition: background 0.3s linear 0.2s;
			&:hover{
				background: $celesteClaro;
			}
			
    	
		}
		.fa-facebook{
			background: #7070F0;
		}
		.fa-twitter{
			background: #00D3F9;
		}
		.fa-instagram{
			background: #8B5911;
		}
		.fa-google-plus{
			background: #FE492B;
		}
		.fa-pinterest-p{
			background: #F80505;
		}
	}
}
#main-footer {
	background: $celesteOscuro;
	color: $negro;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
input, textarea{
  display: block;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
img{
	width: 100%;
}
.slider{
	text-align: center;
	img{
		width:10%;
		margin:20px;
	}
}
button{
	padding:10px;
	border-radius: 20px;
	background: #EE1E5E;
	color:white;
	border: 0;
	margin:10px;
	transition: background 0.4s linear 0.2s;
	&:focus{
  		outline:0px;
	}
	&:hover{
		background: $rojo;
	}
}
/*imagenes*/
#materias{
	text-align: center;
}
.da-thumbs {
	list-style: none;
	width: 100%;
    
	position: relative;
	padding: 0;
	display: block;
	li {
		display: inline-block;
		margin: 10px;
		width: 350px;
		background: #fff;
		padding: 8px;
		position: relative;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);
		a {
			overflow: hidden;

			div {
				position: absolute;
				background: #333;
				background: rgba(75,75,75,0.7);
				width: 100%;
				height: 100%;
				span {
					display: block;
					padding: 10px 0;
					margin: 40px 20px 20px 20px;
					text-transform: uppercase;
					font-weight: normal;
					color: rgba(255,255,255,0.9);
					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
					border-bottom: 1px solid rgba(255,255,255,0.5);
					box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
				}
			}
		}
	}
	 li a,
	 li a img {
		display: block;
		position: relative;
		height: 200px;
	}


	
}



/*imagenes*/
input{
	color:$celesteClaro;
	width: 70%;
	height: 30px;
	margin-top: 20px;
	border-radius:30px;
	border:1px solid $celesteClaro;
	transition: width 0.4s linear 0.2s;
	&:focus{
  		outline:0px;
  		width: 75%;

	}
}
textarea{
	color: $celesteClaro;
	width: 70%;
	height: 100px;
	margin-top: 20px;
	padding-top: 30px;
	border-radius:30px;
	border:1px solid $celesteClaro;
	transition: width 0.4s linear 0.2s;
	&:focus{
  		outline:0px;
  		width: 75%;
	}
}

.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    .img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transform:scale(1);
        -ms-transform:scale(1); // IE 9 
        -moz-transform:scale(1); // Firefox 
        -webkit-transform:scale(1); // Safari and Chrome 
        -o-transform:scale(1); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera       
    }        
    &:hover{
        .img{
            transform:scale(0.8);
            -ms-transform:scale(0.8); // IE 9 
            -moz-transform:scale(0.8); // Firefox 
            -webkit-transform:scale(0.8); // Safari and Chrome 
            -o-transform:scale(0.8); // Opera
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
    
    } 
}